#routine {
    position: relative;
}
.circuit {
    padding: 0 10px;
    text-align: center;
    color: var(--gray);
    margin-bottom: 10px;
}
.circiut-header {
    font-size: 1.2rem;
    border: solid 2px var(--gray);
    padding: 5px 0;
    background-color: var(--dark-mid);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
}
.load-bar-header {
    width: 40%;
    border-top: solid 5px var(--gray);
    box-shadow: 0 1px 1px 1px #ccc;
    position: absolute;
    top: 2px;
    left: 12px;
}
.exercices {display: none;}
.show {display: block !important;}
.exercise-completed {color: var(--success) !important;}
.circiut-header i:first-of-type {margin-left: 10px; cursor: pointer;}
.circiut-header i:last-of-type  {margin-right: 10px;}
.exercices {
    border: solid 2px var(--gray);
    border-top: none;
    border-radius: 0 0 5px 5px;
}
.exe{
    padding: 5px 0;
    position: relative;
    border-bottom: solid 1px #cccccc10;
    display: flex;
    justify-content: space-between;
}
.exe > * {margin: 0 10px;}
.load-bar-exercice {
    width: calc(35% - 20px);
    position: absolute;
    top: 26px;
    left: 1px;
    border: none;
    border-bottom: solid 5px var(--gray);
    box-shadow: 0 1px 1px 1px #ccc;
}
.exe span {color: #cccccc; font-weight: 800;}